In [1]:
import pandas as pd

In [12]:
df = pd.read_json("results/data.json")

In [13]:
df.columns.values

array(['UrlChanges', 'comments', 'highUrlChanges', 'interaction',
       'lowUrlChanges', 'medUrlChanges', 'postId',
       'time_diff_buildCategory', 'time_diff_buildList',
       'time_diff_experiment', 'time_diff_training',
       'time_end_buildCategory', 'time_end_buildList',
       'time_end_experiment', 'time_end_training',
       'time_start_buildCategory', 'time_start_buildList',
       'time_start_experiment', 'time_start_training', 'timestamp',
       'workerId'], dtype=object)

In [14]:
['interaction',
      'postId',
       'time_diff_buildCategory', 'time_diff_buildList',
       'time_diff_experiment', 'time_diff_training',
       'time_end_buildCategory', 'time_end_buildList',
       'time_end_experiment', 'time_end_training',
       'time_start_buildCategory', 'time_start_buildList',
       'time_start_experiment', 'time_start_training', 'timestamp',
       'workerId']

['interaction',
 'postId',
 'time_diff_buildCategory',
 'time_diff_buildList',
 'time_diff_experiment',
 'time_diff_training',
 'time_end_buildCategory',
 'time_end_buildList',
 'time_end_experiment',
 'time_end_training',
 'time_start_buildCategory',
 'time_start_buildList',
 'time_start_experiment',
 'time_start_training',
 'timestamp',
 'workerId']

In [20]:
df[df['workerId']=='6RTDJY'][['workerId','interaction', 'UrlChanges',
      'time_start_buildList','time_diff_buildList',
       'time_diff_experiment', 
       'time_end_buildCategory', 'time_end_buildList',
       'time_start_buildCategory', 'timestamp']].sort_values("timestamp")

,workerId,interaction,UrlChanges,time_start_buildList,time_diff_buildList,time_diff_experiment,time_end_buildCategory,time_end_buildList,time_start_buildCategory,timestamp
50,6RTDJY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-07-26 16:30:41.996
31,6RTDJY,ADD,[49],1.532623e+12,NaN,NaN,NaN,NaN,NaN,2018-07-26 16:30:49.748
19,6RTDJY,ADD,"[49, 77]",1.532623e+12,NaN,NaN,NaN,NaN,NaN,2018-07-26 16:30:55.041
49,6RTDJY,RANK,"[49, 77]",1.532623e+12,10713.0,NaN,NaN,1.532623e+12,NaN,2018-07-26 16:30:58.735
7,6RTDJY,PREVIOUS,"[49, 77]",1.532623e+12,10713.0,NaN,NaN,1.532623e+12,NaN,2018-07-26 16:31:03.799
47,6RTDJY,ADD,"[49, 77]",1.532623e+12,10713.0,NaN,NaN,1.532623e+12,NaN,2018-07-26 16:31:10.662
16,6RTDJY,ADD,"[49, 77]",1.532623e+12,10713.0,NaN,NaN,1.532623e+12,NaN,2018-07-26 16:31:10.664
23,6RTDJY,RANK,"[49, 77]",1.532623e+12,8174.0,NaN,NaN,1.532623e+12,NaN,2018-07-26 16:31:18.786
48,6RTDJY,FINISH,"[49, 77]",1.532623e+12,8174.0,46195.0,NaN,1.532623e+12,NaN,2018-07-26 16:31:23.112
43,6RTDJY,FINISH,"[49, 77]",1.532623e+12,8174.0,46195.0,NaN,1.532623e+12,NaN,2018-07-26 16:31:28.652