In [1]:
import pandas as pd

In [32]:
df = pd.read_json("results/data.json")

In [33]:
df.columns.values

array(['UrlChanges', 'interaction', 'mode', 'postId', 'time_diff_build',
       'time_diff_experiment', 'time_diff_explore', 'time_diff_training',
       'time_end_build', 'time_end_experiment', 'time_end_explore',
       'time_end_training', 'time_start_build', 'time_start_experiment',
       'time_start_explore', 'time_start_training', 'timestamp', 'workerId'], dtype=object)

In [36]:
df[['workerId', 'mode', 'interaction', 'UrlChanges', 'time_diff_training', 'time_diff_build','time_diff_explore',
       'time_diff_experiment', 'time_start_experiment',
       'time_start_explore', 'time_start_training',  
       'time_end_build', 'time_end_experiment', 'time_end_explore',
       'time_end_training', 'time_start_build', 'timestamp']].sort_values("timestamp")

,workerId,mode,interaction,UrlChanges,time_diff_training,time_diff_build,time_diff_explore,time_diff_experiment,time_start_experiment,time_start_explore,time_start_training,time_end_build,time_end_experiment,time_end_explore,time_end_training,time_start_build,timestamp
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1532626789777,NaN,NaN,NaN,2018-07-26 17:39:49.780
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1532626792946,NaN,NaN,NaN,2018-07-26 17:39:52.950
19,TEST USER,NaN,NaN,NaN,1563.0,NaN,NaN,NaN,1.532627e+12,NaN,1.532627e+12,NaN,1532626792946,NaN,1.532627e+12,NaN,2018-07-26 17:40:02.276
9,TEST USER,List,ADD,[206],1563.0,NaN,NaN,NaN,1.532627e+12,NaN,1.532627e+12,NaN,1532626792946,NaN,1.532627e+12,1.532627e+12,2018-07-26 17:40:04.064
26,TEST USER,List,ADD,"[206, 95]",1563.0,NaN,NaN,NaN,1.532627e+12,NaN,1.532627e+12,NaN,1532626792946,NaN,1.532627e+12,1.532627e+12,2018-07-26 17:40:04.988
8,TEST USER,List,ADD,"[206, 95, 190]",1563.0,NaN,NaN,NaN,1.532627e+12,NaN,1.532627e+12,NaN,1532626792946,NaN,1.532627e+12,1.532627e+12,2018-07-26 17:40:06.772
11,TEST USER,List,RANK,"[206, 95, 190]",1563.0,5362.0,NaN,NaN,1.532627e+12,NaN,1.532627e+12,1.532627e+12,1532626792946,NaN,1.532627e+12,1.532627e+12,2018-07-26 17:40:07.677
12,TEST USER,List,PREVIOUS,"[206, 95, 190]",1563.0,5362.0,7379.0,NaN,1.532627e+12,1.532627e+12,1.532627e+12,1.532627e+12,1532626792946,1.532627e+12,1.532627e+12,1.532627e+12,2018-07-26 17:40:18.278
20,TEST USER,List,ADD,"[206, 95, 190]",1563.0,5362.0,7379.0,NaN,1.532627e+12,1.532627e+12,1.532627e+12,1.532627e+12,1532626792946,1.532627e+12,1.532627e+12,1.532627e+12,2018-07-26 17:40:18.417
6,TEST USER,List,ADD,"[206, 95, 190]",1563.0,5362.0,7379.0,NaN,1.532627e+12,1.532627e+12,1.532627e+12,1.532627e+12,1532626792946,1.532627e+12,1.532627e+12,1.532627e+12,2018-07-26 17:40:18.420
16,TEST USER,List,ADD,"[206, 95, 190]",1563.0,5362.0,7379.0,NaN,1.532627e+12,1.532627e+12,1.532627e+12,1.532627e+12,1532626792946,1.532627e+12,1.532627e+12,1.532627e+12,2018-07-26 17:40:18.422
7,TEST USER,List,ADD,"[206, 95, 95, 190]",1563.0,5362.0,7379.0,NaN,1.532627e+12,1.532627e+12,1.532627e+12,1.532627e+12,1532626792946,1.532627e+12,1.532627e+12,1.532627e+12,2018-07-26 17:42:06.788
2,TEST USER,List,ADD,"[206, 95, 190, 95]",1563.0,5362.0,7379.0,NaN,1.532627e+12,1.532627e+12,1.532627e+12,1.532627e+12,1532626792946,1.532627e+12,1.532627e+12,1.532627e+12,2018-07-26 17:42:18.370
18,TEST USER,List,ADD,"[206, 95, 190, 95]",1563.0,5362.0,7379.0,NaN,1.532627e+12,1.532627e+12,1.532627e+12,1.532627e+12,1532626792946,1.532627e+12,1.532627e+12,1.532627e+12,2018-07-26 17:42:18.374
0,TEST USER,List,REMOVE,"[206, 95, 190]",1563.0,5362.0,7379.0,NaN,1.532627e+12,1.532627e+12,1.532627e+12,1.532627e+12,1532626792946,1.532627e+12,1.532627e+12,1.532627e+12,2018-07-26 17:42:18.425
5,TEST USER,List,REMOVE,"[206, 190]",1563.0,5362.0,7379.0,NaN,1.532627e+12,1.532627e+12,1.532627e+12,1.532627e+12,1532626792946,1.532627e+12,1.532627e+12,1.532627e+12,2018-07-26 17:42:19.663
21,TEST USER,List,ADD,"[206, 190, 190]",1563.0,5362.0,7379.0,NaN,1.532627e+12,1.532627e+12,1.532627e+12,1.532627e+12,1532626792946,1.532627e+12,1.532627e+12,1.532627e+12,2018-07-26 17:44:05.144
22,TEST USER,List,ADD,"[206, 190, 190]",1563.0,5362.0,7379.0,NaN,1.532627e+12,1.532627e+12,1.532627e+12,1.532627e+12,1532626792946,1.532627e+12,1.532627e+12,1.532627e+12,2018-07-26 17:44:06.791
1,TEST USER,List,ADD,"[206, 190, 190]",1563.0,5362.0,7379.0,NaN,1.532627e+12,1.532627e+12,1.532627e+12,1.532627e+12,1532626792946,1.532627e+12,1.532627e+12,1.532627e+12,2018-07-26 17:44:18.375
23,TEST USER,List,REMOVE,"[206, 190]",1563.0,5362.0,7379.0,NaN,1.532627e+12,1.532627e+12,1.532627e+12,1.532627e+12,1532626792946,1.532627e+12,1.532627e+12,1.532627e+12,2018-07-26 17:44:18.381
25,TEST USER,List,ADD,"[206, 190, 190]",1563.0,5362.0,7379.0,NaN,1.532627e+12,1.532627e+12,1.532627e+12,1.532627e+12,1532626792946,1.532627e+12,1.532627e+12,1.532627e+12,2018-07-26 17:44:18.428
3,TEST USER,List,REMOVE,"[206, 190]",1563.0,5362.0,7379.0,NaN,1.532627e+12,1.532627e+12,1.532627e+12,1.532627e+12,1532626792946,1.532627e+12,1.532627e+12,1.532627e+12,2018-07-26 17:44:19.666
10,TEST USER,List,REMOVE,[206],1563.0,5362.0,7379.0,NaN,1.532627e+12,1.532627e+12,1.532627e+12,1.532627e+12,1532626792946,1.532627e+12,1.532627e+12,1.532627e+12,2018-07-26 17:46:05.222
24,TEST USER,List,ADD,"[206, 49]",1563.0,5362.0,7379.0,NaN,1.532627e+12,1.532627e+12,1.532627e+12,1.532627e+12,1532626792946,1.532627e+12,1.532627e+12,1.532627e+12,2018-07-26 17:46:05.225
17,TEST USER,List,ADD,"[206, 49, 178]",1563.0,5362.0,7379.0,NaN,1.532627e+12,1.532627e+12,1.532627e+12,1.532627e+12,1532626792946,1.532627e+12,1.532627e+12,1.532627e+12,2018-07-26 17:46:06.794
4,TEST USER,List,ADD,"[206, 49, 178, 41]",1563.0,5362.0,7379.0,NaN,1.532627e+12,1.532627e+12,1.532627e+12,1.532627e+12,1532626792946,1.532627e+12,1.532627e+12,1.532627e+12,2018-07-26 17:46:18.387
14,TEST USER,List,RANK,"[206, 49, 178, 41]",1563.0,11308.0,7379.0,NaN,1.532627e+12,1.532627e+12,1.532627e+12,1.532627e+12,1532626792946,1.532627e+12,1.532627e+12,1.532627e+12,2018-07-26 17:46:18.396