In [42]:
import pandas as pd

In [43]:
df = pd.read_json("results/data.json")

In [44]:
df.columns.values

array(['UrlChanges', 'comments', 'interaction', 'mode', 'postId',
       'time_diff_build', 'time_diff_experiment', 'time_diff_explore',
       'time_diff_training', 'time_end_build', 'time_end_experiment',
       'time_end_explore', 'time_end_training', 'time_start_build',
       'time_start_experiment', 'time_start_explore',
       'time_start_training', 'timestamp', 'weights', 'workerId'], dtype=object)

In [45]:
df[['workerId', 'mode', 'comments', 'interaction', 'UrlChanges', 'time_diff_training', 'time_diff_build','time_diff_explore',
       'time_diff_experiment', 'time_start_experiment',
       'time_start_explore', 'time_start_training',  
       'time_end_build', 'time_end_experiment', 'time_end_explore',
       'time_end_training', 'time_start_build', 'timestamp']].sort_values("timestamp")

,workerId,mode,comments,interaction,UrlChanges,time_diff_training,time_diff_build,time_diff_explore,time_diff_experiment,time_start_experiment,time_start_explore,time_start_training,time_end_build,time_end_experiment,time_end_explore,time_end_training,time_start_build,timestamp
7,HOME_BOY_Q,List,NaN,NaN,NaN,2777,NaN,NaN,NaN,1533213187315,NaN,1533213221684,NaN,1533213187313,NaN,1533213224461,NaN,2018-08-02 12:33:44.469
3,HOME_BOY_Q,List,NaN,ADD,[154],2777,NaN,NaN,NaN,1533213187315,NaN,1533213221684,NaN,1533213187313,NaN,1533213224461,1.533213e+12,2018-08-02 12:33:47.972
5,HOME_BOY_Q,List,NaN,ADD,"[154, 130]",2777,NaN,NaN,NaN,1533213187315,NaN,1533213221684,NaN,1533213187313,NaN,1533213224461,1.533213e+12,2018-08-02 12:34:00.788
2,HOME_BOY_Q,List,NaN,ADD,"[154, 130, 18]",2777,NaN,NaN,NaN,1533213187315,NaN,1533213221684,NaN,1533213187313,NaN,1533213224461,1.533213e+12,2018-08-02 12:34:05.844
0,HOME_BOY_Q,List,NaN,ADD,"[154, 130, 18]",2777,NaN,NaN,NaN,1533213187315,NaN,1533213221684,NaN,1533213187313,NaN,1533213224461,1.533213e+12,2018-08-02 12:34:06.200
4,HOME_BOY_Q,List,NaN,ADD,"[154, 130, 18]",2777,NaN,NaN,NaN,1533213187315,NaN,1533213221684,NaN,1533213187313,NaN,1533213224461,1.533213e+12,2018-08-02 12:34:06.207
8,HOME_BOY_Q,List,NaN,RANK,"[154, 130, 18]",2777,23632.0,NaN,NaN,1533213187315,NaN,1533213221684,1.533213e+12,1533213187313,NaN,1533213224461,1.533213e+12,2018-08-02 12:34:08.155
6,HOME_BOY_Q,List,NaN,FINISH,"[154, 130, 18]",2777,23632.0,100085.0,161009.0,1533213187315,1.533213e+12,1533213221684,1.533213e+12,1533213348324,1.533213e+12,1533213224461,1.533213e+12,2018-08-02 12:35:48.341
9,HOME_BOY_Q,List,test1,FINISH,"[154, 130, 18]",2777,23632.0,100085.0,161009.0,1533213187315,1.533213e+12,1533213221684,1.533213e+12,1533213348324,1.533213e+12,1533213224461,1.533213e+12,2018-08-02 12:36:20.991
1,HOME_BOY_Q,List,test1,FEEDBACK,"[154, 130, 18]",2777,23632.0,100085.0,161009.0,1533213187315,1.533213e+12,1533213221684,1.533213e+12,1533213348324,1.533213e+12,1533213224461,1.533213e+12,2018-08-02 12:36:20.992